body{
	
}
.header {
  height: 250px;
  width: 100%;
  background-color:	#003153;
  color: white;
}
header img {
  margin: 50px 0 0 10px;
}
header h3 {
  margin: -100px 0 0 110px;
}
header h5 {
  margin: 10px 0 0 110px;
}
.demopadding {
  margin:20px 0 0 110px;
  width:auto;
  text-align:center;
}
.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:15px;
	border-top-right-radius: 	15px;
	border-top-left-radius: 	15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 	15px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon i {
	font-size:15px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
  size: 10px;
	margin:0 5px 0 0;
	cursor:pointer;
	background:white ;
	color:#104cf3;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#0e1df0 ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
	left:10px;
	top:7px;
}
.icon.social.tw i {
	left:10px;
  top:7px;
}
.icon.social.in i {
	left:10px;
  top:7px;
}
.icon.social.google i {
	left:10px;
  top:7px;
}
.btn {
  background-color: DodgerBlue;
  border: 2px solid white;
  color: white;
  background: transparent;
  border-radius: 50px;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 14px;
}
p {
  font-size: 14px;
  font-family: sans-serif;
  margin: 0 150px 0 0;
  font-weight: 300;
  float: right;
  opacity: .7;
}

header ul li {
	display: inline;
	margin: 30px;
	margin-left: -5px;
}
#p2 {
	
	float: right;
}
hr {
	opacity: .2;
}
.table {
	width: 100%;
	text-justify: inherit;
}
.tr1 {
	margin-left: 30px;
}
.eduicon {
	margin-top: 40px;
}
h4 {
	margin: -34px -80px 0 60px;
	font-size: 24px;
}
.timeline {
	max-width: 900px;
	margin: 0 auto;
}

.timeline-container {
	font-family: sans-serif;
	margin: 30px;
	border-left: 4px solid #222;
	padding-left: 25px;
  }
  
  .timeline-container h3 {
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 0;
	color: #00272b;
  }
  
  .timeline-container .event {
	margin: 48px 0 0;
	position: relative;
	max-width: 1200px;
  }
  
  .timeline-container .event::before {
	content: "";
	width: 14px;
	height: 14px;
	border: 2px solid #000;
	position: absolute;
	left: -36px;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	background: #fff;
	
  }
  p {
	  text-justify: auto;
	  
  }
  #uni {
	  text-align: left;
  }
#eduicon {
	  margin-top: 40px;
	  margin-bottom: -10px;
  }
  h2 {
	  font-size: 20px;
  }

 


  #skills {
	  margin: 70px 0 0 0;
  }
  #skills span{
    top: -30px;
    left: 2%;
    position: relative;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: monospace;
    color: #fff;
}
.pl {
  float: left;
  font-weight: bold;
  margin-left: 30px;
}
.pr {
  float: right;
  font-weight: bold;
}

progress {
    background-color: #000;
    border: 0;
    height: 1em;
    width: 100%;
	margin: 15px 0 15px 30px;
}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-value {
    background-color: rgb(21, 180, 21);
    border-radius: 0 80px 80px 0;
}

progress::-moz-progress-bar {
    background-color: green;
}
  
  


#footer {
 	height: 300px;
  	width: 100%;
 	background-color:	#003153;
  	color: white;
}
#footer h5 {
	margin: 40px 0 0 30px;
	font-size: 15px;
	
}
#footer p {
	float: left;
	width: 350px;
	margin: 40px 0 0 30px;
}
form input {
	background: transparent;
	border: 1px solid white;
	border-radius: 30px;
	height: 30px;
  }
 #footer button {
	border: 1px solid white;
	border-radius: 30px;
	height: 30px;
	width: 30px;
	background-color: green;
  }
  .col1 {
	float: left;
  }
  .col2 {
	  float: middle;
  }
  .col3 {
	  float: right;
  }
